files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_write_flow_settings.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR

      # Drop database and recreate it again. Normally in production you do not want to do this!
      # But we wish to start over each time.
      mysql -h$RDS_HOSTNAME -u$RDS_USERNAME -p$RDS_PASSWORD -e "drop database $RDS_DB_NAME; CREATE DATABASE $RDS_DB_NAME CHARACTER SET utf8 COLLATE utf8_general_ci"

      # Update Configuraion/Settings.yaml with DB connection options
      cat <<EOF > Configuration/Settings.yaml

      TYPO3:
        Flow:
          persistence:
            backendOptions:
              dbname: '$RDS_DB_NAME'       # adjust to your database name
              user: '$RDS_USERNAME'             # adjust to your database user
              password: '$RDS_PASSWORD'         # adjust to your database password
              host: '$RDS_HOSTNAME'
      EOF
