files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_write_flow_settings.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      set -xe
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)
      cd $EB_APP_STAGING_DIR
      cat <<EOF > Configuration/Settings.yaml

      TYPO3:
        Flow:
          persistence:
            backendOptions:
              dbname: '$RDS_DB_NAME'       # adjust to your database name
              user: '$RDS_USERNAME'             # adjust to your database user
              password: '$RDS_PASSWORD'         # adjust to your database password
              host: '$RDS_HOSTNAME'
      EOF
