container_commands:
  20-warmup-cache:
    command: "php flow flow:cache:warmup"
    env:
      FLOW_CONTEXT: Production
  30-doctrine-migrate:
    command: "php flow doctrine:migrate"
    env:
      FLOW_CONTEXT: Production
  35-flush-site:
    command: "php flow site:prune"
    env:
      FLOW_CONTEXT: Production
  40-import-site:
    command: "php flow site:import --package-key TYPO3.NeosDemoTypo3Org"
    env:
      FLOW_CONTEXT: Production
  45-reset-file-permissions:
    command: "chown -R webapp:webapp ."
  50-publish_resources:
    command: "php flow resource:publish"
    env:
      FLOW_CONTEXT: Production
  55-reset-file-permissions:
    command: "chown -R webapp:webapp ."

  60-remove-conffile:
    command: "rm Data/Temporary/Production/Configuration/ProductionConfigurations.php"